.marker{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background-size: cover;
  position: absolute;
}

.artistProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.artistProfileHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.artistNameAndReleasedMusic{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links > a > img{
  width: 100px;
  height : auto;
  margin-left: 10px;
  margin-right: 10px;
  
}


.tracks{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track{
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.trackCover{
  width: 125px;
  height: 125px;
  margin-right: 50px;
}

.trackTitleAndTimebar{
  margin-right: 50px;
}

.maxTime{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 250px;
  height: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}

.playPauseButtonWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playPauseButton{
  width: 40px;
  height : 40px
}

