body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'PhillySans';
  src: url('./style/fonts/PhillySans.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./style/fonts/Montserrat.woff') format('woff');
}




.marker{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background-size: cover;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.marker > p {
  font-size: 10px;
  color:#fff;
  font-family: 'PhillySans';
  display: inline-block;
  position: absolute;

  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}


.map-container {
  height: 100vh;
  width: 100vw;
}
