#emailInput, textarea{
   color : #fff;
   font-family: Montserrat;
}

#emailInput::placeholder{
   font-family: Montserrat;
}

#keyInput, textarea{
   color : #fff;
   font-family: Montserrat;
}

#keyInput::placeholder{
   font-family: Montserrat;
}



