.marker{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-size: cover;
    position: absolute;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.marker > p {
    font-size: 10px;
    color:#fff;
    font-family: PhillySans;
    display: inline-block;
    position: absolute;
  
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.homeButton {
    margin-left: 12vw;
    margin-top: 5vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeButton > p {
    font-size: 10vw;
    color:#9381FF;
    font-family: PhillySans;
    text-decoration-line: underline;
    text-decoration-color: #fff;
}
    
.map-container {
    height: 100vh;
    width: 100vw;
}